table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 2px solid #f7f7f9;
}

th {
  font-family: sans-serif;
  color: #70707d;
  font-size: 12px;
  font-weight: 400;
  vertical-align: bottom;
  padding: 10px;
}

th span {
  font-size: 10px;
}

tr {
  cursor: pointer;
  height: 50px;
}

tr:hover {
  background-color: #f7f7f9;
}

td {
  height: 48px;
  padding: 0 7px;
  font-size: 15px;
}

td div {
  display: flex;
  gap: 10px;
}

.date-cell {
  color: #5c5c61;
  font-size: 14px;
  border: none;
}

.name-cell {
  display: flex;
  align-items: center;
}

.avatar {
  background-color: #ededf0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attachment-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount-data {
  gap: 0;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.decimal-values {
  font-size: 12px;
}

.credit {
  color: green;
}
